= form_for [@committee, trial] do |f|
  - if params[:redirect_url].present?
    = f.hidden_field(:referer, value: params[:redirect_url])
  - if trial.errors.any?
    .container-fluid
      .col-lg-6.offset-lg-3.col-md-8.offset-md-2
        .card.card-outline-danger#error-explanation
          .card-block
            %h4
              = t('errors', count: trial.errors.count)
              = t('error_message', count: trial.errors.count)
            %ul.list-group
              - trial.errors.full_messages.each do |msg|
                %li.list-group-item= msg
    .ls40

  .row
    .col-md-6.col-sm-11
      .container
        .field.form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .field.form-group
          = f.label :rank_id
          = f.select :rank_id, ranks.collect { |c| [c.name, c.id] },
          {}, class: 'custom-select form-control'
        .field.form-group
          = f.label :deadline
          %div= f.date_select :deadline,
          { discard_day: true, with_css_classes: true },
          class: 'custom-select form-control mb-3 mr-sm-1 mb-sm-3'
        - unless action_name == 'new'
          - if current_user.present?
            .field.form-group
              = f.label :status
              = f.select :status, Trial::STATUSES, {},
              class: 'custom-select form-control'
        .field.form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'
        .field.form-group
          = f.label :phone_number
          = f.text_field :phone_number, class: 'form-control'
    .col-md-6.col-sm-11
      .container
        .field.form-group
          = f.label :supervisor
          = f.text_field :supervisor, class: 'form-control'
        .field.form-group
          = f.label :environment_id
          = f.select :environment_id,
          environments.collect { |c| [c.name, c.id] },
          {}, class: 'custom-select form-control'
        - if trial.private_key_digest.blank?
          .field.form-group
            = f.label :private_key
            = f.text_field :private_key, class: 'form-control'
        .actions.btn-group.d-block
          = link_to t(:back), params[:redirect_url] || :back,
          class: 'btn btn-secondary btn-inline-block col-6 float-left'
          = f.submit t(:save), class: 'btn btn-success btn-inline-block col-6'
