= form_for [@committee, trial] do |f|
  - if trial.errors.any?
    #error-explanation
      %h2
        = pluralize(trial.errors.count, 'error')
        prohibited this trial from being saved:
      %ul
        - trial.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :deadline
    = f.date_select :deadline, discard_day: true
  - unless action_name == 'new'
    .field
      = f.label :status
      = f.select :status, Trial::STATUSES
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :supervisor
    = f.text_field :supervisor
  .field
    = f.label :environment
    = f.text_field :environment
  .actions
    = f.submit 'Save'
