%h1 Listing trials
%h2= @committee.name

- if @trials.empty?
  %h3 No trials yet
= render 'trials_table', trials: @trials.overdue_soon, committee: @committee,
header: 'Soon overdue !!! (one month)', hide_options: true

= render 'trials_table', trials: @trials.ongoing, committee: @committee,
header: 'Ongoing'

= render 'trials_table', trials: @trials.overdue, committee: @committee,
header: 'Overdue'

= render 'trials_table', trials: @trials.rejected, committee: @committee,
header: 'Rejected'

= render 'trials_table', trials: @trials.accepted, committee: @committee,
header: 'Accepted'

%br

= link_to 'New trial', new_committee_trial_path(@committee),
class: 'btn btn-primary'
%br
= link_to 'Show Committee (back)', @committee
