.row.second-bar
  = render template: 'shared/breadcrumbs',
  locals: { final_title: t(:trials_list) }
.row
  .col-md-12
    - if @trials.empty?
      %h3 No trials yet
    = render 'trials_table', trials: @trials.overdue_soon,
    committee: @committee, header: t(:soon_overdue),
    hide_options: true, stateman_trials: @stateman_trials

    = render 'trials_table', trials: @trials.ongoing, committee: @committee,
    header: t(:ongoing), stateman_trials: @stateman_trials

    = render 'trials_table', trials: @trials.overdue, committee: @committee,
    header: t(:overdue), stateman_trials: @stateman_trials

    = render 'trials_table', trials: @trials.rejected, committee: @committee,
    header: t(:rejected), stateman_trials: @stateman_trials

    = render 'trials_table', trials: @trials.accepted, committee: @committee,
    header: t(:accepted), stateman_trials: @stateman_trials
