%h1 Listing trials

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @trials.each do |trial|
      %tr
        %td= trial.title
        %td= link_to 'Show', [@committee, trial]
        %td= link_to 'Edit', edit_committee_trial_path(@committee, trial)
        %td= link_to 'Destroy', [@committee, trial], method: :delete,
        data: { confirm: 'Are you sure?' }

%br

= link_to 'New trial', new_committee_trial_path(@committee)
