%p#notice= notice

= form_for :trial, url: [@committee, @trial] do |f|
  - if @trial.errors.any?
    #error-explanation
      %ul
        - @trial.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :private_key
    = f.text_field :private_key
  .actions
    = f.submit 'Authorize'
