%p#notice= notice

%h1= @trial.title
%h2= @trial.committee.name

%p
  %b Deadline:
  = l(@trial.deadline, format: :month_year)
%p
  %b Status:
  = @trial.status
%p
  %b Email:
  = @trial.email
%p
  %b Phone Number:
  = @trial.phone_number
%p
  %b Supervisor:
  = @trial.supervisor
%p
  %b Environment:
  = @trial.environment
%p
  %b State:
  %span.badge.badge-default{ style: style_for_trial_badge(@trial) }
    = @trial.stateman_trial.state.name
%p
  %b Reachable states:
  - @trial.stateman_trial.reachable_states.each do |state|
    = link_to state.name, committee_trial_set_state_path(@committee, @trial,
    state.id), class: 'btn btn-secondary',
    style: "background-color: ##{state.color}", method: :patch
%p
  %b Created at:
  = l(@trial.created_at, format: :long)
%p
  %b Updated at:
  = l(@trial.updated_at, format: :long)

= link_to 'Edit', edit_committee_trial_path(@committee, @trial)
\|
= link_to 'All trials', committee_trials_path(@committee)
