.row.second-bar
  = render template: 'shared/breadcrumbs'

  = render 'shared/additional_menu' do
    = link_to formsub_meetings_url,
    class: 'btn btn-success' do
      %i.fa.fa-plus-square-o
      %span= t(:register)
    = link_to edit_committee_trial_path(@committee, @trial),
    class: 'btn btn-secondary' do
      %i.fa.fa-edit
      %span= t(:edit)

= render 'shared/alerts'
.row
  .col-md-6
    %h4= t(:basic_info)
    %p
      %b= t(:rank_colon)
      = @trial.rank.name
    %p
      %b= t(:deadline)
      = l(@trial.deadline, format: :month_year)
    %p
      %b= t(:status)
      = @trial.status
    %p
      %b= t(:email)
      = @trial.email
    %p
      %b= t(:phone_number)
      = @trial.phone_number
    %p
      %b= t(:supervisor)
      = @trial.supervisor
    %p
      %b= t(:environment_colon)
      = @trial.environment.name
    %p
      %b= t(:private_key_digest)
      = @trial.private_key_digest
    %p
      %b= t(:state_colon)
      %span.badge.badge-default{ style: style_for_trial_badge(@trial) }
        = @trial.stateman_trial.state.name
    - if current_user.present?
      %p
        %b Reachable states:
        - @trial.stateman_trial.reachable_states.each do |state|
          = link_to state.name, committee_trial_set_state_path(@committee,
          @trial, state.id), class: 'btn btn-secondary',
          style: "background-color: ##{state.color}", method: :patch
    %p
      %b= t(:created_at)
      = l(@trial.created_at, format: :long)
    %p
      %b= t(:updated_at)
      = l(@trial.updated_at, format: :long)
    - unless current_user.present?
      %p
        = link_to t(:clear_from_this_computer),
        committee_trial_clear_permitted_path(@committee), method: :delete
  .col-md-6
    %h4= t(:registrations)
    - @trial.formsub_case.registrations.each do |registration|
      %b= registration.title
      = registration.description
      %br
      = registration.meeting.name
      (
      = l(registration.meeting.time_start.to_datetime, format: :short)
      \-
      = l(registration.meeting.time_end.to_datetime, format: :short)
      )
      %hr
