- if current_user.present?
  %h1 Welcome
  %p
    Username: #{current_user.email}
  .btn-group
    = link_to 'Private page', home_private_index_path,
    class: 'btn btn-secondary'
    = link_to 'Committees', committees_path, class: 'btn btn-primary'
    = link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger'
- else
  .card.col-md-6.offset-md-3
    %h3.card-header Login required
    .card-block
      %h4.card-title Plese log in to use this app
      %p.card-text
        With any troubles plese contact
        = mail_to('asterdrak@gmail.com')
      = link_to 'Sign in', '/auth/sso', class: 'btn btn-success'
