= form_for committee do |f|
  - if committee.errors.any?
    #error-explanation
      %h2
        = t('errors', count: committee.errors.count)
        = t('error_message', count: committee.errors.count)
      %ul
        - committee.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .actions.d-inline-block.float-right
    = f.submit t(:save), class: 'btn btn-success'
