.row.second-bar
  = render template: 'shared/breadcrumbs',
  locals: { final_title: 'Listing Committees' }

  = render 'shared/additional_menu' do
    = link_to new_committee_path,
    class: 'nav-link btn btn-success' do
      %i.fa.fa-plus-square-o
      %span New Committee

= render 'shared/alerts'

.col-md-6.offset-md-3
  %table.table
    %thead
      %tr
        %th Name
        %th

    %tbody
      - @committees.each do |committee|
        %tr
          %td= link_to committee.name, committee
          %td
            .btn-group
              = link_to 'Edit', edit_committee_path(committee),
              class: 'btn btn-secondary'
              = link_to 'Destroy', committee, class: 'btn btn-warning',
              method: :delete, data: { confirm: 'Are you sure?' }
