.row.second-bar
  = render template: 'shared/breadcrumbs', locals: { final_title: t(:trials) }

  = render 'shared/additional_menu' do
    = link_to new_committee_trial_path(@committee),
    class: 'btn btn-success' do
      %i.fa.fa-plus-square-o
      %span= t(:new_trial)
    - if current_user.present?
      = link_to edit_committee_path(@committee), class: 'btn btn-secondary',
      title: t(:edit_committee), 'data-toggle': 'tooltip',
      'data-placement': 'bottom' do
        %i.fa.fa-edit
        %span.hidden-sm-up= t(:edit_committee)
      - if current_user.admin?
        = link_to @committee,
        method: :delete, data: { confirm: t(:confirm_delete) },
        class: 'btn btn-danger', title: t(:delete_committee),
        'data-toggle': 'tooltip', 'data-placement': 'bottom',
        'data-offset': '0 25' do
          %i.fa.fa-trash-o
          %span.hidden-sm-up= t(:delete_committee)

= render 'shared/alerts'

.row
  - if session['permitted_trials'].blank?
    - unless current_user.present?
      .col-md-6
        .container
          .jumbotron
            %h1.display-4= @committee.name
            %p.lead
              = t(:commitee_lead_text)
              = link_to t(:sign_in), '/auth/sso'
            %hr.my-4/
            %p.lead
              = link_to t(:new_trial), new_committee_trial_path(@committee),
              class: 'btn btn-lg btn-success'
  - else
    .col-md-6
      %h3= t(:my_trials)
      = link_to t(:clear_from_this_computer),
      committee_trial_clear_permitted_path(@committee), method: :delete,
      class: 'btn btn-sm btn-secondary'
      .ls20
      .container
        %ul.list-group
          - session['permitted_trials'].each do |private_key_digest|
            - trial = Trial.find_by(private_key_digest: private_key_digest,
            committee: @committee)
            - unless trial.nil?
              %li.list-group-item= link_to trial.title, [@committee, trial]
  .col-md-6
    %h2= t(:number_of_trials, trials_count: @committee.trials.count)
    %hr
    %h2= t(:summary)
    .ls20
    .container-fluid
      %ul.list-group
        - @state_trial_count.each do |state|
          %li.list-group-item #{state['name']}: #{state['count']}
