%p#notice= notice

%h1= @committee.name
%h2 Number of trials: #{@committee.trials.count}
%h2 Summary:
- @state_trial_count.each do |state|
  %p #{state['name']}: #{state['count']}

= link_to 'All Trials', committee_trials_path(@committee)
%br
- if current_user.present?
  = link_to 'Edit committee', edit_committee_path(@committee)
  \|
= link_to 'All committees', committees_path
